name: "Test Terrachops Action"

on:
  issue_comment:
    types: [created]

permissions:
  pull-requests: write
  deployments: write
  contents: write
  checks: read
  statuses: read

jobs:
  test-tf-branch-deploy:
    if: ${{ github.event.issue.pull_request }}
    runs-on: ubuntu-latest
    steps:
      - name: Terraform Branch Deploy
        uses: scarowar/terraform-branch-deploy@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          noop-trigger: ".plan"
          trigger: ".apply"
          stable_branch: "develop"
